version: "3.9"

services:
  rag_app:
    build: .
    container_name: rag_project
    ports:
      - "8000:8000"
    env_file:
      - .env
    volumes:
      - ./data:/app/data
    restart: unless-stopped
